@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 93 58% 92%;
    --foreground: 88 71% 10%;
    --card: 93 58% 92%;
    --card-foreground: 88 71% 10%;
    --popover: 93 58% 92%;
    --popover-foreground: 88 71% 10%;
    --primary: 88 44% 31%;
    --primary-foreground: 93 58% 95%;
    --secondary: 93 58% 88%;
    --secondary-foreground: 88 71% 10%;
    --muted: 93 58% 88%;
    --muted-foreground: 88 71% 30%;
    --accent: 43 74% 49%;
    --accent-foreground: 43 91% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 93 58% 85%;
    --input: 93 58% 85%;
    --ring: 43 74% 49%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 88 71% 10%;
    --foreground: 93 58% 92%;
    --card: 88 71% 12%;
    --card-foreground: 93 58% 92%;
    --popover: 88 71% 10%;
    --popover-foreground: 93 58% 92%;
    --primary: 88 44% 45%;
    --primary-foreground: 88 71% 10%;
    --secondary: 88 71% 15%;
    --secondary-foreground: 93 58% 92%;
    --muted: 88 71% 15%;
    --muted-foreground: 93 58% 70%;
    --accent: 43 74% 55%;
    --accent-foreground: 43 91% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 88 71% 15%;
    --input: 88 71% 15%;
    --ring: 43 74% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
